




.user-container {
    display: grid;
    justify-content: center;
    justify-self: center;
    background-color: #202020;
    color: #FFE6E9;
      
}
div {
    display: grid;
}

button {
    animation: click-animation 0.3s ;
  }

.blurred {
    filter: blur(10px);
  }

.control-box {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(11, 1fr);
    justify-self: center;
    width: 600px;
    height: 100px;
    background-color: #dda6ae;
}

.audio-recorder {
    display: grid;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    border-top: 20px solid #DDA6AE;
    border-left: 50px solid #DDA6AE;
    border-right: 50px solid #DDA6AE;
}

.record-button {
    grid-area: 2/2/span 3/span 1;
    margin-bottom: 16px;
    background-color: #202020;
    /* border: solid 2px black; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 3px;
} 

.record-button.active {
    grid-area: 2/2/span 3/span 1;
    margin-bottom: 16px;
    border-radius: 50%;
    height: 50px;
    width: 50px; 
    background-color: rgb(255, 0, 90);
    box-shadow: 
    0 0 5px 2px rgb(255, 0, 90),
    0 0 8px 4px rgb(156, 0, 57),
    0 0 9px 7px rgb(81, 0, 30);
}

.record-label {
    grid-area: 4/2/span 1/span 1;
    margin-top: 15px;
    margin-left: 11px;
    font-size: 10px;
    color: #202020;
}

.stop-button {
    grid-area: 2/4/span 3/span 1;
    margin-bottom: 16px;
    background-color: #202020;
    /* background: -webkit-linear-gradient(top, #DDA6AE, #FFE6E9 25%, #ffefef 38%, #D9A3A9 63%, #FFE6E9 87%, #DDA6AE); */
    border: solid 2px black;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin-top: 3px;
}

.stop-label {
    grid-area: 4/4/span 1/span 1;
    margin-top: 15px;
    margin-left: 16px;
    font-size: 10px;
    color: #202020;
}

.play-button {
    padding: 0;
    margin-top: 3px;
    grid-area: 2/6/span 3/span 1;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-style: solid;
    background-color: #DDA6AE;
    border-width: 25px 0px 25px 50px;
    border-color: transparent transparent transparent #202020;
}

.play-label {
    grid-area: 4/6/span 1/span 1;
    margin-top: 15px;
    margin-left: 16px;
    font-size: 10px;
    color: #202020;
}

.pause-button {
    grid-area: 2/8/span 3/span 1;
    padding: 0;
    margin-top: 3px;
    width: 45px;
    height: 50px;
    border-style: solid;
    border-width: 0px 17px 0px 17px;
    border-color: #202020;
    background-color: #DDA6AE;

}

.pause-label {
    grid-area: 4/8/span 1/span 1;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 10px;
    color: #202020;
}

.upload-button {
    padding: 0;
    margin-top: 3px;
    grid-area: 2/10/span 3/span 1;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-style: solid;
    background-color: #DDA6AE;
    border-width: 0px 25px 50px 25px;
    border-color: transparent transparent #202020 transparent;
}

.upload-label {
    grid-area: 4/10/span 1/span 1;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 10px;
    color: #202020;
}

.placeholder-input {
    grid-area: 5/9/span 1/span 3;
    width: 110px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 16px;
    border: 2px solid #d89da6;
    background-color: #DDA6AE;
}

.distortion-toggle,
.delay-toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: black;
    border: 2px solid rgb(246, 192, 201);
    color: #FFE6E9;

    border-radius: 16px;
    width: 40px;
    height: 22px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: -webkit-linear-gradient(top, #DDA6AE, #FFE6E9 25%, #ffefef 38%, #D9A3A9 63%, #FFE6E9 87%, #DDA6AE);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    /* background: linear-gradient(to bottom, #fff 0%, #fff 100%); */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #c0bc56;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 22px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.sample-folder-button {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    /* background-color: #708090; */
    background: -webkit-linear-gradient(top, #DDA6AE, #FFE6E9 25%, #ffefef 38%, #D9A3A9 63%, #FFE6E9 87%, #DDA6AE);
    border-color: #c28e96;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(144, 95, 95, 0.59);
}

.sample-folder-button:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #c28e96;
    position: absolute;
    top: -12px;
    left: 0px;
    
}

.sample-name {
    color: #202020;
}

audio {
    display: none;
  }

/* .visible-audio {
    display: block !important;
  } */

.samples-modal {
    display: grid;
    /* background-color: #FFE6E9; */
    background: -webkit-linear-gradient(top, #DDA6AE, #FFE6E9 25%, #ffefef 38%, #D9A3A9 63%, #FFE6E9 87%, #DDA6AE);

    justify-self: center;
    justify-content: center;
    /* float: right;
    position: fixed; */
    /* margin-right: 10px; */
    color: #202020;

    border-radius: 5px;
    /* position: fixed; */
    /* top: 50%;
    left: 50%; 
     transform: translate(-50%, -50%); */
    
    z-index: 1;
    height: 500px;
    width: 25vw;
    overflow-y: scroll;
}

li {
    list-style: none;
}

.crud-buttons {
    background: none;
    border: none;
}

.audio-element {
    display: none;
}

/* MEEBOARD */

.meeboard-container {
    display: grid;
    grid-template: repeat(14, 1fr) / repeat(26, 1fr);
    justify-self: center;
    width: 600px;
    height: 300px;
    border-radius: 0 0 5px 5px;
    border: 3px;
    border-color: #936e72;
    background: -webkit-linear-gradient(top, #DDA6AE, #FFE6E9 25%, #ffefef 38%, #D9A3A9 63%, #FFE6E9 87%, #DDA6AE);
}



/* white keys */
.key-one,
.key-three,
.key-five,
.key-six,
.key-eight,
.key-ten,
.key-twelve,
.key-thirteen {
    background-color: #efefe8;
}

/* black keys */
.key-two,
.key-four,
.key-seven,
.key-nine,
.key-eleven {
    background-color: #202020;
    z-index: 1;
    /* make the black keys overlap*/
}


.key-one,
.key-two,
.key-three,
.key-four,
.key-five,
.key-six,
.key-seven,
.key-eight,
.key-nine,
.key-ten,
.key-eleven,
.key-twelve,
.key-thirteen {
    display: grid;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 3px #484848;
}

.key-one:active,
.key-two:active,
.key-three:active,
.key-four:active,
.key-five:active,
.key-six:active,
.key-seven:active,
.key-eight:active,
.key-nine:active,
.key-ten:active,
.key-eleven:active,
.key-twelve:active,
.key-thirteen:active {
    box-shadow: 0 1px #4e4d4d;
    transform: translateY(1px);
}

.key-one {
    grid-area: 4/2/span 10/span 3;
}

.key-two {
    grid-area: 4/4/span 6/span 2;
}

.key-three {
    grid-area: 4/5/span 10/span 3;
}

.key-four {
    grid-area: 4/7/span 6/span 2;
}

.key-five {
    grid-area: 4/8/span 10/span 3;
}

.key-six {
    grid-area: 4/11/span 10/span 3;
}

.key-seven {
    grid-area: 4/13/span 6/span 2;
}

.key-eight {
    grid-area: 4/14/span 10/span 3;
}

.key-nine {
    grid-area: 4/16/span 6/span 2;
}

.key-ten {
    grid-area: 4/17/span 10/span 3;
}

.key-eleven {
    grid-area: 4/19/span 6/span 2;
}

.key-twelve {
    grid-area: 4/20/span 10/span 3;
}

.key-thirteen {
    grid-area: 4/23/span 10/span 3;
}

/* .meeboard-container button:active {
    box-shadow: 0 1px #d0d0d0;
    transform: translateY(1px);
} */

/* .pressed {
    animation: click-animation 0.2s linear;
} */

.logo {
    grid-area: 1/3/span 2/span 9;
    margin-bottom: 50px;
}

.distortion-toggle{
    grid-area: 2/18/span 1/span 2;
}
.distortion-label {
    grid-area: 2/16/span 3/span 2;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 5px;
    color: #202020;
}
 .delay-toggle {
    grid-area: 2/23/span 1/span 2;
    
}
.delay-label {
    grid-area: 2/22/span 3/span 2;
    font-size: 10px;
    margin-top: 10px;
    color: #202020;
}

