.start-tutorial {
    display: flex;
    justify-self: center;
    margin-bottom: 50px;
    border: solid 1px #FFE6E9;
    border-radius: 10px;
    color: #FFE6E9;
    padding: 10px;
    background-color: #202020;
}
.tutorial-text {
    color: black;
    font-size: small;
}
.next-button{
    background: none;
    text-decoration: underline;
    border: none;
}
.record-tutorial-box, 
.stop-tutorial-box, 
.play-tutorial-box, 
.pause-tutorial-box, 
.upload-tutorial-box, 
.key-tutorial-box, 
.file-tutorial-box {
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #efefe8;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #575757;
    z-index: 999;
    width: 200px;
    box-shadow: 0 0 10px;
}
.record-tutorial-box {
    left: -6%; 
}
.stop-tutorial-box {
    left: 14%;
}
.play-tutorial-box {
    left: 31%;
}
.pause-tutorial-box {
    left: 49%;
}
.upload-tutorial-box {
    left: 67%;
}
.key-tutorial-box {
    left: 42.25%;
    top: 90%;
}
.file-tutorial-box {
    left: 42.25%;
    top: 110%;
}
